<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Start Up Template</title>
  		{{ "app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
	</head>
	<body>
		{% include "header"  %}
		{% block content %}{% endblock %}
    {% include "footer"  %}
  		{% include "scripts" %}
	</body>
</html>